//画面の大枠

html {
  background: #011E26;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  background: -webkit-gradient(linear,left top, right bottom ,from(#001828),to(#00485b));
  background: -webkit-linear-gradient(top,#001828, #025B70);
  background: -o-linear-gradient(bottom,#001828,#025B70);
  background: linear-gradient(180deg, #001828, #01475b);
  background-repeat: repeat-x;

}
//テキスト入力フォーマットのCSSクラス

.l-wrapper {
  min-height: 900px;
  background-image: url(../vuex.png);
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: 50%;
  background-attachment: fixed;
  z-index: 100;
}

.c-textInput {
  width: 270px;
  margin-top: 10px;
  padding: 20px 10px;
  background-color: #ccc;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: #242424;

  &:focus {
    outline: 0;
    cursor: initial;
  }
}

//追加ボタンのCSSクラス

.c-addButton {
  margin-top: 15px;
  padding: 15px 18px;
  background-color: #999;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: block;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    background-color: #00d78f;
  }
}

// 動的CSSクラス

.addlist {
  margin-left: 5px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.active .textInput {
  background-color: #fff;
}

.addable .c-addButton {
  background-color: #00d78f;
  cursor: pointer;
}



